<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Machine Key -->
  <add key="Scaffolding.MK_ValidationKey" value="95644A8D380AC1FD7FC0DAAB21F736557B34A2CC364B0137C425810B4E8C8C720437EE4C86E86B8333B606638CA4147567558668A1377F4FDA3B30A2E39E4DF1" />
  <add key="Scaffolding.MK_DecryptionKey" value="EAC82DBF9E0E82927F9455E2CE96782F0CC7DC9B2DFAEC651D9236EE3DC55616" />
  <add key="Scaffolding.MK_Decryption" value="AES" />
  <add key="Scaffolding.MK_ValidationAlgorithm" value="SHA1" />

  <!-- System & Dev -->
  <add key="Scaffolding.WebTitle" value="2HANDS FACTORY"/>
  <add key="Scaffolding.IsCloseMaintenance" value="false"/>
  <add key="Scaffolding.CloseMaintenanceText" value="Website currently down for maintenance."/>
  <add key="Scaffolding.IsDebug" value="false"/>
  <add key="Scaffolding.Caching.Timeout" value="60"/>

  <!-- Configulation: Date -->
  <add key="Scaffolding.ResponseDateFormat" value="dd/MM/yyyy"/>
  <add key="Scaffolding.ResponseDatetimeFormat" value="dd/MM/yyyy HH:mm:ss"/>

  <!-- JWT Config -->
  <!-- Startup.OAuth.cs , WebApiConfig.cs -->
  <add key="jwt_issuer" value="http://localhost:51543/"/>
  <add key="jwt_audience" value="http://localhost:51543/"/>
  <add key="jwt_secret" value="TGl2ZXVwVmVudHVyZS5KV1QuU2lnbjIwMTkuR2VuZXJhdGVGb3JEZXZlbG9w"/>
  <add key="jwt_utchours" value="7"/>
  <add key="jwt_expirehours" value="1"/>

  <!-- Static User,Password: Generate access_token -->
  <add key="password_encryptionkey" value="0x41951321781F132BC8854BCC6CA05A70"/>
  <add key="static_username" value="bnnpro"/>
  <add key="static_password" value="BNn@Pr02o19ByLivEUp"/>
</appSettings>
