<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="ScaffoldingEntities" connectionString="Data Source=49.0.64.14,18963;Initial Catalog=TH_Scaffolding;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="ScaffoldingLogEntities" connectionString="Data Source=49.0.64.14,18963;Initial Catalog=TH_Scaffolding;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
