<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
    <add name="ScaffoldingEntities" connectionString="Data Source=adg-china-thailand.database.windows.net; Initial Catalog=scaffolding;User ID=adgchina.thailand;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <add name="ScaffoldingLogEntities" connectionString="Data Source=adg-china-thailand.database.windows.net; Initial Catalog=scaffolding;User ID=adgchina.thailand;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
