<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Web" />
  </extensions>
  <variable name="appName" value="Scaffolding.Api"/>
  <targets>
    <target name="database" xsi:type="Database"
    connectionStringName="ScaffoldingEntities" dbProvider="System.Data.SqlClient"
    commandText="INSERT INTO log_events_api (log_event_datetime, log_event_level, log_event_message, log_event_username, log_event_domain, log_event_machine, log_event_error_source, log_event_error_class, log_event_error_method, log_event_error_message, log_event_error_inner) VALUES (@log_event_datetime, @log_event_level, @log_event_message, @log_event_username, @log_event_domain, @log_event_machine, @log_event_error_source, @log_event_error_class, @log_event_error_method, @log_event_error_message, @log_event_error_inner)">

      <!-- parameters for the command -->
      <parameter name="@log_event_datetime" layout="${date:s}" />
      <parameter name="@log_event_level" layout="${level:uppercase=true}" />
      <parameter name="@log_event_message" layout="${message}" />
      <parameter name="@log_event_username" layout="${identity}" />
      <!--<parameter name="@log_event_username" layout="${aspnet-request-ip}" />-->
      <parameter name="@log_event_domain" layout="${windows-identity:domain=true}" />
      <parameter name="@log_event_machine" layout="${machinename}" />
      <parameter name="@log_event_error_source" layout="${event-context:item=error-source}" />
      <parameter name="@log_event_error_class" layout="${event-context:item=error-class}" />
      <parameter name="@log_event_error_method" layout="${event-context:item=error-method}" />
      <parameter name="@log_event_error_message" layout="${event-context:item=error-message}" />
      <parameter name="@log_event_error_inner" layout="${event-context:item=inner-error-message}" />
    </target>
  </targets>

  <rules>
    <!--
    =======================================
    Level	| Example
    =======================================
    Fatal	| Highest level: important stuff down
    Error	| For example application crashes / exceptions.
    Warn	| Incorrect behavior but the application can continue
    Info	| Normal behavior like mail sent, user updated profile etc.
    Debug	| Executed queries, user authenticated, session expired
    Trace	| Begin method X, end method X etc
    -->

    <!-- Deployment -->
    <!--<logger name="NLogLogger*" minlevel="Info" writeTo="database" enabled="true" />-->

    <!-- Development -->
     <logger name="NLogLogger*" minlevel="Trace" writeTo="database" enabled="true" /> 
  </rules>
</nlog>
